{{ global.logging.common | to_yaml  }}
ConnectionStrings:
  Db1: {{ PostgresConnection { database: "dbname1", server: "postgres01" } }}
  Db2: {{ PostgresConnection { database: "dbname2" } }}
SomeApiSettings:
  Host: {{ global.public_url }}/sorting
Queue1:
{{ global.queues.queues | to_yaml | indent(2) }}
